<aside class="main-box">
  <aside class="1st-box box">
    <h1 class="text heading">We Are In</h1>
    <p class="text">USA</p>
    <p class="text">china</p>
    <p class="text">India</p>
    <p class="text">Canada</p>
    <p class="text">Japan</p>
  </aside>
  <aside class="2nd-box box">
    <h1 class="text heading">Our Services</h1>
    <p class="text">Property listing</p>
    <p class="text">Property Management</p>
    <p class="text">Loan Services</p>
  </aside>
  <aside class="3rd-box box">
    <h1 class="text heading">With Us</h1>
    <p class="text">Seller</p>
    <p class="text">Builders</p>
    <p class="text">Buyers</p>
    <p class="text">Bank Agent</p>
    <p class="text">Transaction Manager</p>
    <p class="text">Driver</p>
  </aside>
  <aside class="4th-box box">
    <h1 class="text heading">Quick Lines</h1>
    <p class="text">Properties</p>
    <p class="text">Builders</p>
    <p class="text">Categories</p>
    <p class="text">Builders</p>
  </aside>
  <aside class="5th-box box">
    <h1 class="text heading">Help</h1>
    <p class="text">FAQ Policy</p>
    <p class="text">Terms And Conditions</p>
    <p class="text">Privacy Policy</p>
    <p class="text">Editorial Policy</p>
    <p class="text">Refferal policy</p>
    <p class="text">Site Map</p>
  </aside>
</aside>
<aside class="end">
  <aside class="loogoo">
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-youtube"></i>
  </aside>
 
    <p class="end-text">©2022 REVO Home . All rights reserved. Terms | Privacy</p>
  
</aside>
