<section class="main__container">
  <aside class="nav">
    <aside class="pop-search">
      <i class="fa-solid fa-magnifying-glass"></i><a href="#"></a> Popular
      Search
    </aside>
    <aside class="search"><a href="#"></a>Search 01</aside>
    <aside class="search"><a href="#"></a>Search 01</aside>
    <aside class="search"><a href="#"></a>Search 01</aside>
    <aside class="search"><a href="#"> </a>Search 01</aside>
    <aside class="search"><a href="#"> </a>Search 01</aside>
    <aside class="search"><a href="#"> </a>Search 01</aside>
    <aside class="search"><a href="#"> </a>Search 01</aside>
  </aside>

  <!-- ------------------------------------ -->
  <!-- ------------------------------------ -->
  <!-- ------------------------------------ -->
  <div class="maincards-1">
    <aside class="subcards subcards-1">
      <aside class="subcard">
        <span class="material-icons-round"> precision_manufacturing </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <aside class="subcards-text">
        <p>Pay Rent</p>
      </aside>
    </aside>
    <aside class="subcards-2 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> maps_home_work </span>

        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Rent Agreement</p>
    </aside>
    <aside class="subcards-3 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> request_quote </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Home Loans</p>
    </aside>
    <aside class="subcards-4 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> chair </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Home Interiors</p>
    </aside>
    <aside class="subcards-5 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> solar_power </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Solar Rooftop</p>
    </aside>
    <aside class="subcards-6 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> diamond </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Premium Apartment</p>
    </aside>
    <aside class="subcards-7 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> local_shipping </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Packers & Movers</p>
    </aside>
    <aside class="subcards-8 subcards">
      <aside class="subcard">
        <span class="material-icons-round"> real_estate_agent </span>
        <div class="round-1 round"></div>
        <div class="round-2 round"></div>
        <div class="round-3 round"></div>
      </aside>
      <p class="subcards-text">Property Management</p>
    </aside>
  </div>
  <!-- <---------------------------------------------CARDS --2---------------------------------------------------------------->
  <div class="maincards-2">
    <aside class="subcards subcards1">
      <aside class="subcard">
        <img class="img-1" src="\assets\buy2.jpg" alt="" />
        <h1 class="heading">BUY PROPERTY</h1>
        <P class="subcard-para"
          >Find your place with an immersive photo experience and the most
          listings including things you wont find anywhere else.</P
        >
        <button class="button-2">Browse</button>
      </aside>
    </aside>
    <aside class="subcards subcards2">
      <aside class="subcard">
        <img class="img-2" src="\assets\sell.jpg" />
        <h1 class="heading">SELL PROPERTY</h1>
        <P class="subcard-para"
          >No matter what path you take to sell your home , we can help you
          navigate a successful sale.</P
        >
        <button class="button-2">Start Now</button>
      </aside>
    </aside>
    <aside class="subcards subcards3">
      <aside class="subcard">
        <img class="img-3" src="\assets\rent.jpg" />
        <h1 class="heading">RENT PROPERTY</h1>
        <p class="subcard-para">
          Find your place with an immersive photo experience and the most
          listings including things you won't find anywhere else.
        </p>
        <button class="button-2">Find Rentals</button>
      </aside>
    </aside>
  </div>
  <!-- <------------------------------------------------------CAARDS---3---------------------------------------------------->
  <div class="maincards-3">
    <aside class="main-box">
      <aside class="headings">
        <h1 class="heading-1">Hand Picked Residential Projects</h1>
        <p class="heading-para">
          Featured Residential Projects Across The World
        </p>
      </aside>
      <aside class="caaards">
        <aside class="subcards subcards1">
          <aside class="subcard">
            <aside class="image-div">
              <img class="apart-img" src="\assets\apart.jpg" />
              <aside class="rent">
                <p class="rent-text">Rent</p>
              </aside>
            </aside>
            <aside class="inner-cards">
              <aside class="inner-box">
                <aside class="inner-round">
                  <img class="city-img" src="\assets\city.png" />
                </aside>

                <aside class="inner-container">
                  <h1 class="inner-h1">Hill Top View Residentials</h1>
                  <p class="inner-text">2BHK Apartments,sector-16,USA</p>
                  <h2 class="inner-h2">$1,000</h2>
                </aside>
              </aside>
            </aside>
          </aside>
        </aside>
        <aside class="subcards subcards2">
          <aside class="subcard">
            <aside class="image-div">
              <img class="apart-img" src="\assets\apart.jpg" />
              <aside class="rent">
                <p class="rent-text">Rent</p>
              </aside>
            </aside>

            <aside class="inner-cards">
              <aside class="inner-box">
                <aside class="inner-round">
                  <img class="city-img" src="\assets\city.png" />
                </aside>
                <aside class="inner-container">
                  <h1 class="inner-h1">Hill Top View Residentials</h1>
                  <p class="inner-text">2BHK Apartments,sector-16,USA</p>
                  <h2 class="inner-h2">$1,000</h2>
                </aside>
              </aside>
            </aside>
          </aside>
        </aside>
        <aside class="subcards subcards3">
          <aside class="subcard">
            <aside class="image-div">
              <img class="apart-img" src="\assets\apart.jpg" />
            </aside>
            <aside class="rent">
              <p class="rent-text">Rent</p>
            </aside>

            <aside class="inner-cards">
              <aside class="inner-box">
                <aside class="inner-round">
                  <img class="city-img" src="\assets\city.png" />
                </aside>
                <aside class="inner-container">
                  <h1 class="inner-h1">Hill Top View Residentials</h1>
                  <p class="inner-text">2BHK Apartments,sector-16,USA</p>
                  <h2 class="inner-h2">$1,000</h2>
                </aside>
              </aside>
            </aside>
          </aside>
        </aside>
      </aside>
    </aside>
  </div>
</section>
