<main class="container">
  <aside class="main-box">
    <aside class="firstt-box">
      <img class="logoo" src="\assets\MicrosoftTeams-image.png" />
      <aside class="revo-box">
        <h1 class="revo-head">REVO <span class="home" style="color: #E05206;"> . HOME</span></h1>
        <P class="REVO-text">REAL ESTATE WILL NEVER BE THE SAME</P>
      </aside>
    </aside>
    <aside class="second-box">
      <ul class="list">
        <li ><a class="home">Home</a></li>
        <select name="category" id="category">
          <option value="fayis" class="category-item">Category</option>
        </select>
        <li> <a class="revobuilders ">REVO Builders</a></li>
        <li> <a class="revobuilders ">List Property</a></li>


        
      </ul>

    </aside>
  </aside>
</main>
<app-body></app-body>
<app-cards></app-cards>
<app-builder-cards></app-builder-cards>
<app-revo-last></app-revo-last>
<app-footer></app-footer>
