<div class="last-page">
  <section class="builder">
    <aside class="section-1">
      <h1 class="sec-1-text">Builder</h1>
    </aside>
    <aside class="builder-cards">
      <aside class="assistant-cards">
        <img class="builder-image" src="\assets\R (1).png" />
        <aside class="assistant-cards-tp">
          <h1 class="assistant-cards-text">AD Construction</h1>
          <p class="assistant-cards-para">86+ items</p>
        </aside>
        <aside class="assistant-round">
          <aside class="logoo-arrow">
            <i class="fa-solid fa-chevron-right" style="color: white"></i>
          </aside>
        </aside>
      </aside>
      <aside class="assistant-cards">
        <img class="builder-image" src="\assets\pankajakasthuri_500-1.png" />
        <aside class="assistant-cards-tp">
          <h1 class="assistant-cards-text">ABC Builders</h1>
          <p class="assistant-cards-para">90+ items</p>
        </aside>
        <aside class="assistant-round">
          <aside class="logoo-arrow">
            <i class="fa-solid fa-chevron-right" style="color: white"></i>
          </aside>
        </aside>
      </aside>
      <aside class="assistant-cards">
        <img
          class="builder-image"
          src="\assets\Himalaya-Logo-design-india-PNG-Transparent-Images.png"
        />
        <aside class="assistant-cards-tp">
          <h1 class="assistant-cards-text">GK Builders</h1>
          <p class="assistant-cards-para">85+ items</p>
        </aside>
        <aside class="assistant-round">
          <aside class="logoo-arrow">
            <i class="fa-solid fa-chevron-right" style="color: white"></i>
          </aside>
        </aside>
      </aside>
      <aside class="assistant-cards">
        <img class="builder-image" src="\assets\final-logo-01.png" />
        <aside class="assistant-cards-tp">
          <h1 class="assistant-cards-text">A Group Construction</h1>
          <p class="assistant-cards-para">130+items</p>
        </aside>
        <aside class="assistant-round">
          <aside class="logoo-arrow">
            <i class="fa-solid fa-chevron-right" style="color: white"></i>
          </aside>
        </aside>
      </aside>
      <aside class="assistant-cards">
        <img class="builder-image" src="\assets\gerrardexcavating-logo.png" />
        <aside class="assistant-cards-tp">
          <h1 class="assistant-cards-text">ZG Group</h1>
          <p class="assistant-cards-para">125+ items</p>
        </aside>
        <aside class="assistant-round">
          <aside class="logoo-arrow">
            <i class="fa-solid fa-chevron-right" style="color: white"></i>
          </aside>
        </aside>
      </aside>
    </aside>
  </section>
  <!-- <--------------------------------------------------------------------------------------------------------------------->
</div>
