<div class="container">
  <aside class="main-box">
    <aside class="head">
      <h1 class="heading"><span class="whites">All In One In</span> Revo</h1>
    </aside>
    <aside class="box">
      <aside class="text">
        <p class="text-para">Download The App For Free</p>
      </aside>
      <aside class="main-parent">
        <aside class="child-1">
          <aside class="imgplay">
            <i class="fa-brands fa-apple" style="color: white"></i>
          </aside>
          <aside class="text-cont">
            <p class="download">Download On The</p>
            <h1 class="download-h1">App Store</h1>
          </aside>
        </aside>
        <aside class="child-2">
          <aside class="imgplay2">
            <img class="playbtn" src="\assets\google-play.png" />
          </aside>
          <aside class="text-cont">
            <p class="downloadd">Download On The</p>
            <h1 class="downloadd-h1">App Store</h1>
          </aside>
        </aside>
      </aside>
    </aside>
  </aside>
</div>
